# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.svelte-kit
.next
out

# Testing
coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo 


.nx/cache
.nx/workspace-data