@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	body {
		font-family:
			-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
			'Droid Sans', 'Helvetica Neue', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		color: #18181b;
		background-color: #ffffff;
	}
}

@layer utilities {
	.pb-safe {
		padding-bottom: max(env(safe-area-inset-bottom), 1rem);
	}

	.pt-safe {
		padding-top: max(env(safe-area-inset-bottom), 1rem);
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
